* {
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#mici {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 99999;

}

.bounding {
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem {
    margin-left: 100px;
    transform: translateY(100%);
}

#main {
    width: 100%;
    background-color: black;
}

/* #hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
} */

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-size: 10vw;
    opacity: 0.6;
    line-height: 0.9;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 50px;
}

#hero #secondh1 {
    /* margin-left: 50% */
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 35px 50px;
    color: white;
    font-weight: 500;
}

#nav a {
    text-decoration: none;
    font-size: 25px;
    color: #3ded97;
    opacity: 4;
    font-weight: bold;
}

#nav h4 {
    margin-left: 10px;
}

#heading {
    margin-top: -20px;
}

#heading h1 {
    margin-left: 50px;
    font-family: "General Sans Medium";
    font-size: 10vw;
    opacity: 0.6;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
}

#heading #secondh1 {
    margin-left: 230px;
}

/*  */

/*  */

.blocktext {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5 {
    text-transform: uppercase;
    text-align: right;
    line-height: 2.5;
    font-size: 20px;
}

#smallerheadings {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
}

#smallerheadings h4 {
    text-transform: uppercase;
    text-align: right;
    margin-top: 0.5vw;
    font-size: 1.2vw;
}

#herofooter {
    line-height: 3;
    width: 100%;
    padding: 0 2.8vw;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    justify-content: space-between;
}

#herofooter a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#iconset {
    display: flex;
    gap: 5px;
}

#herofooter .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    color: black;
}

#second {
    padding-right: 10vw;
    padding-top: 150px;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.elem {
    position: relative;
    width: 100%;
    padding: 3.5vw 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: 0.7;
}

.elem h5 {
    justify-content: center;
    text-align: center;
}

.elemlast {
    border-bottom: 1px solid #888;
}

.elem img {
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

#about {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 15vw;
    padding: 10vw 10vw;
    padding-left: 33vw;
    gap: 70px;
    background-color: black;
    color: white;
    width: 100%;
}

#textabout {
    width: 30rem;
}

#textabout h5 {
    text-transform: uppercase;
    opacity: .7;
    margin-bottom: 10px;
}

#textabout p {
    font-size: 1.2vw;
    line-height: 1.7;
    margin-bottom: 30px;
}

#about img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#textabout a {
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

#subscribe {
    padding: 20px 30px;
    background-color: black;
    color: white;
    padding-bottom: 8vw;
}

#subscribe h5 {
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3 {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 14px;
}

#footer {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

#footerleft {
    display: flex;
    gap: 20px;
}

#footerright {
    display: flex;
    gap: 30px;
}

#footer a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}